<th:block th:fragment="meta(description)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--/*@thymesVar id="description" type="java.lang.String"*/-->
    <meta name="description" th:attr="content=${description}">
    <meta name="author"
          content="Ivo Reich, Hüseyin Arziman, Lukas Kaufmann, Justin Kirchmann, Yagmur Sagdic, Selcan Sahin, Elif Kocabay">
</th:block>

<th:block th:fragment="css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap-icons.css" th:href="@{/assets/font/bootstrap-icons.css}">
    <th:block th:replace="/fragments/navbar :: css"/>
</th:block>

<th:block th:fragment="js">
    <script src="../static/assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <th:block th:replace="/fragments/navbar :: js"/>
</th:block>