<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='View all Bookings')"/>
    <title>View Bookings | Hotel Schwarz</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>

<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success alert-dismissible fade show"
                         th:if="${msg != null && msg.isPresent()}" role="alert">
                        <th:block th:text="${msg.get()}"></th:block>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Bookings</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/bookings}" class="breadcrumb-link">Bookings</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">View</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row ml-0 mr-0">
                                <a th:href="@{/bookings/create}" class="btn btn-primary ml-auto mr-0 mb-3">Create
                                    Booking</a>
                            </div>
                            <br>

                            <input class="form-control" list="mostSearched" id="myInput" type="text" autocomplete=”on”
                                   placeholder="Search..."><br>

                            <datalist id="mostSearched">
                                <option value="PENDING">
                                <option value="CLOSED">
                                <option value="CANCELLED">
                                <option value="CONFIRMED">
                                <option value="EXPIRED">
                            </datalist>

                            <div class="card">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th>Booking No.</th>
                                        <th>Guest</th>
                                        <th>Arrival</th>
                                        <th>Departure</th>
                                        <th>Status</th>
                                        <th>Number of Rooms</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    <tr th:if="${bookings.isEmpty()}">
                                        <td colspan="6"> no bookings available</td>
                                    </tr>
                                    <tr th:each="booking : ${bookings}">
                                        <td><a th:href="@{/booking(no=${booking.bookingNo()})}"><span
                                                th:text="${booking.bookingNo()}"/></a>
                                        </td>
                                        <td><span
                                                th:text="${booking.details.guest.firstName} + ' ' + ${booking.details.guest.lastName}"/>
                                        </td>
                                        <td><span th:text="${booking.arrivalDate}"/></td>
                                        <td><span th:text="${booking.departureDate}"/></td>
                                        <td><span th:text="${booking.bookingState}"
                                                  th:classappend="${booking.getBookingStateTextColorClass()}"/></td>
                                        <td><span th:text="${booking.numberOfBookedRooms}"/></td>
                                        <td style="width: 200px;">
                                            <div th:switch="${booking.bookingState()}">
                                                <p th:case="'PENDING'">
                                                    <a class="btn btn-space btn-light"
                                                       th:href="@{/booking(no=${booking.bookingNo()})}"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a class="btn btn-space btn-success"
                                                       th:href="@{/checkin(bookingNo=${booking.bookingNo()})}"><i
                                                            class="fas fa-check"></i> Check-In</a>
                                                </p>

                                                <p th:case="'CLOSED'">
                                                    <a class="btn btn-space btn-light"
                                                       th:href="@{/booking(no=${booking.bookingNo()})}"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a class="btn btn-space, text-white" style="cursor: default"><i
                                                            class="fas fa-check"></i> Check-In</a>
                                                </p>

                                                <p th:case="'CANCELLED'">
                                                    <a class="btn btn-space btn-light"
                                                       th:href="@{/booking(no=${booking.bookingNo()})}"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a class="btn btn-space, text-white" style="cursor: default"><i
                                                            class="fas fa-check"></i> Check-In</a>
                                                </p>

                                                <p th:case="'EXPIRED'">
                                                    <a class="btn btn-space btn-light"
                                                       th:href="@{/booking(no=${booking.bookingNo()})}"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a class="btn btn-space, text-white" style="cursor: default"><i
                                                            class="fas fa-check"></i> Check-In</a>
                                                </p>

                                                <p th:case="'CONFIRMED'">
                                                    <a class="btn btn-space btn-light"
                                                       th:href="@{/booking(no=${booking.bookingNo()})}"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a class="btn btn-space btn-success"
                                                       th:href="@{/checkin(bookingNo=${booking.bookingNo()})}"><i
                                                            class="fas fa-check"></i> Check-In</a>
                                                </p>

                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/fragments/layout/page :: js"/>
</body>
</html>
