<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='View all Stays')"/>
    <title>Stays | Hotel Management</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>

<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success alert-dismissible fade show" th:if="${msg != null && msg.isPresent()}" role="alert">
                        <th:block th:text="${msg.get()}"></th:block>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Stays</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/stays}" class="breadcrumb-link">Stays</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">View</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row ml-0 mr-0">
                                <a th:href="@{/checkin}" class="btn btn-primary ml-auto mr-0 mb-3">Create Stay (Check-In of Walk-In Guest)</a>
                            </div>

                            <div class="card">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th>Stay ID</th>
                                        <th>Guest</th>
                                        <th>Departure</th>
                                        <th>Room Number(s)</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${stays.isEmpty()}">
                                            <td colspan="3"> no stays available</td>
                                        </tr>
                                        <tr th:each="stay: ${stays}">
                                            <td><span th:text="${stay.stayId()}"/></td>
                                            <td><span th:text="${stay.guest().firstName() + ' ' + stay.guest().lastName()}"/></td>
                                            <td>
                                                <span th:if="${stay.checkedOutAt() == null}" th:text="${stay.departureDate()}"/>
                                                <span th:if="${stay.checkedOutAt()}" th:text="${stay.checkedOutAt().toLocalDate()}"/>
                                            </td>
                                            <td>
                                                <span th:each="roomNumber, state: *{stay.roomNumbers()}">
                                                    <span th:text="${roomNumber}"></span><span th:if="${!state.last}" th:text="', '"></span>
                                                </span>
                                            </td>
                                            <td><span th:text="${stay.stayStatus()}" th:classappend="${stay.getStayStateTextColorClass()}"/></td>
                                            <td style="width: 200px;">
                                                <a class="btn btn-space btn-light" th:href="@{/stays/invoices(stayId=${stay.stayId()})}"><i class="fas fa-file-invoice"></i></a>
                                                <a class="btn btn-space btn-danger" th:if="${stay.checkedOutAt() == null}" th:href="@{/checkout(stayId=${stay.stayId()})}"><i class="fas fa-sign-out-alt"></i> Check-Out</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/fragments/layout/page :: js"/>

</body>

</html>