<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='Create a booking for your stay at the hotel.')"/>
    <title>Create Booking | Hotel Schwarz</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>

<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Create Booking</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/bookings}" class="breadcrumb-link">Bookings</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">

                                <th:block th:if="${#strings.equals(step, 'enterStayDetails')}">
                                    <h5 class="card-header">Stay Details</h5>
                                    <th:block th:replace="/fragments/forms/bookingForm :: enterStayDetails"/>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'enterRoomCategories')}">
                                    <h5 class="card-header">Available Categories</h5>
                                    <th:block th:replace="/fragments/forms/bookingForm :: enterRoomCategories"/>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'enterGuestDetails')}">
                                    <h5 class="card-header">Guest Details</h5>
                                    <th:block th:replace="/fragments/forms/bookingForm :: enterGuestDetails"/>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'enterPayment')}">
                                    <h5 class="card-header">Payment</h5>
                                    <th:block th:replace="/fragments/forms/bookingForm :: enterPayment"/>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'confirmSummary')}">
                                    <h5 class="card-header">Booking Summary</h5>
                                    <th:block th:replace="/fragments/forms/bookingForm :: confirmSummary"/>
                                </th:block>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <ul class="list-group">
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterStayDetails')} ? active : ''">Stay Details</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterRoomCategories')} ? active : ''">Room Categories</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterGuestDetails')} ? active : ''">Guest Details</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterPayment')} ? active : ''">Payment</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'confirmSummary')} ? active : ''">Booking Summary</li>
                    </ul>
                </div>
            </div>
        </div>
        <th:block th:replace="/fragments/layout/footer :: content"/>
    </div>
</div>
<th:block th:replace="/fragments/layout/page :: js"/>
<th:block th:replace="/fragments/forms/bookingForm :: js"/>
</body>

</html>