<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='Create a booking for your stay at the hotel.')"/>
    <title>Create Booking | Hotel Management</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>

<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Create Booking</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/bookings}" class="breadcrumb-link">Bookings</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">

                                <th:block th:if="${#strings.equals(step, 'enterStayDetails')}">
                                    <h5 class="card-header">Stay Details</h5>
                                    <form th:action="@{/bookings/create(step='enterRoomCategories')}" method="post">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="arrivalDate" class="col-form-label">Arrival Date</label>
                                                <input id="arrivalDate" name="arrivalDate" type="date" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="departureDate" class="col-form-label">Departure Date</label>
                                                <input id="departureDate" name="departureDate" type="date" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nights" class="col-form-label">Nights</label>
                                                <input id="nights" name="nights" type="number" class="form-control" min="1" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="arrivalTime" class="col-form-label">Arrival Time</label>
                                                <input id="arrivalTime" name="arrivalTime" type="time" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="numberOfPersons" class="col-form-label">Number of Persons</label>
                                                <input id="numberOfPersons" name="numberOfPersons" type="time" class="form-control" min="1" required>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-right">
                                                    <button type="submit" class="btn btn-space btn-primary">Next</button>
                                                    <a th:href="@{/bookings}" class="btn btn-space btn-secondary">Back</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'enterRoomCategories')}">
                                    <h5 class="card-header">Available Categories</h5>
                                    <form th:action="@{/bookings/create(step='enterGuestDetails')}" method="post">
                                        <div class="card-body">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Selected Rooms</th>
                                                    <th scope="col">Available Rooms</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Category Economy</td>
                                                    <td>
                                                        <button type="button" class="btn button-minus-category-rooms"
                                                                data-available-category-no="0"><i
                                                                class="fas fa-minus-circle"></i></button>
                                                        <input type="number" style="width:60px;"
                                                               class="input-category-rooms"
                                                               data-available-category-no="0" value="0"
                                                               name="categoryRooms[0]"
                                                               id="categoryRooms0">
                                                        <button type="button" class="btn button-plus-category-rooms"
                                                                data-available-category-no="0"><i
                                                                class="fas fa-plus-circle"></i></button>
                                                    </td>
                                                    <td>
                                                        <input type="number" style="width:60px;"
                                                               class="input-category-max-rooms"
                                                               data-available-category-no="0"
                                                               value="44" id="categoryMaxRooms0" disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Category Deluxe</td>
                                                    <td>
                                                        <button type="button" class="btn button-minus-category-rooms"
                                                                data-available-category-no="1"><i
                                                                class="fas fa-minus-circle"></i></button>
                                                        <input type="number" style="width:60px;"
                                                               class="input-category-rooms"
                                                               data-available-category-no="1" value="0"
                                                               name="categoryRooms[1]"
                                                               id="categoryRooms1">
                                                        <button type="button" class="btn button-plus-category-rooms"
                                                                data-available-category-no="1"><i
                                                                class="fas fa-plus-circle"></i></button>
                                                    </td>
                                                    <td>
                                                        <input type="number" style="width:60px;"
                                                               class="input-category-max-rooms"
                                                               data-available-category-no="1"
                                                               value="13" id="categoryMaxRooms1" disabled>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group">
                                                <p class="text-right">
                                                    <button type="submit" class="btn btn-space btn-primary">Next</button>
                                                    <a th:href="@{/bookings/create(step='enterStayDetails')}" class="btn btn-space btn-secondary">Back</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'enterGuestDetails')}">
                                    <h5 class="card-header">Guest Details</h5>
                                    <form th:action="@{/bookings/create(step='enterPayment')}" method="post">
                                        <div class="card-body">
                                            <label class="custom-control custom-checkbox">
                                                <input id="organization" name="organization" type="checkbox" class="custom-control-input"><span class="custom-control-label">Organization</span>
                                            </label>
                                            <div class="form-group">
                                                <label for="organizationName" class="col-form-label">Organization Name</label>
                                                <input id="organizationName" name="organizationName" type="text" class="form-control" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="agreementCode" class="col-form-label">Agreement Code</label>
                                                <input id="agreementCode" name="agreementCode" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <div class="form-group">
                                                <label for="salutation">Salutation</label>
                                                <select id="salutation" name="salutation" class="form-control"
                                                        th:insert="/fragments/optionsets :: salutation" required></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstName" class="col-form-label">First Name</label>
                                                <input id="firstName" name="firstName" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName" class="col-form-label">Last Name</label>
                                                <input id="lastName" name="lastName" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="birthday" class="col-form-label">Birthday</label>
                                                <input id="birthday" name="birthday" type="date" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="street" class="col-form-label">Street</label>
                                                <input id="street" name="street" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="zipcode" class="col-form-label">Zipcode</label>
                                                <input id="zipcode" name="zipcode" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="city" class="col-form-label">City</label>
                                                <input id="city" name="city" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="country">Country</label>
                                                <select id="country" name="country" class="form-control"
                                                        th:insert="/fragments/optionsets :: country" required></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="specialNotes" class="col-form-label">Special Notes</label>
                                                <textarea id="specialNotes" name="specialNotes" class="form-control" rows="3"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-right">
                                                    <button type="submit" class="btn btn-space btn-primary">Next</button>
                                                    <a th:href="@{/bookings/create(step='enterRoomCategories')}" class="btn btn-space btn-secondary">Back</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'enterPayment')}">
                                    <h5 class="card-header">Payment</h5>
                                    <form th:action="@{/bookings/create(step='confirmSummary')}" method="post">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="cardHolderName" class="col-form-label">Card Holder Name</label>
                                                <input id="cardHolderName" name="cardHolderName" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber" class="col-form-label">Card Number</label>
                                                <input id="cardNumber" name="cardNumber" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardValidThru" class="col-form-label">Valid thru</label>
                                                <input id="cardValidThru" name="cardValidThru" type="text" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardCvc" class="col-form-label">CVC</label>
                                                <input id="cardCvc" name="cardCvc" type="password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <div class="form-group">
                                                <label for="paymentType">Payment Type</label>
                                                <select id="paymentType" name="paymentType" class="form-control"
                                                        th:insert="/fragments/optionsets :: paymentType" required></select>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-right">
                                                    <button type="submit" class="btn btn-space btn-primary">Next</button>
                                                    <a th:href="@{/bookings/create(step='enterGuestDetails')}" class="btn btn-space btn-secondary">Back</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </th:block>

                                <th:block th:if="${#strings.equals(step, 'confirmSummary')}">
                                    <h5 class="card-header">Booking Summary</h5>
                                    <!-- TODO: add summary -->
                                </th:block>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <ul class="list-group">
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterStayDetails')} ? active : ''">Stay Details</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterRoomCategories')} ? active : ''">Room Categories</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterGuestDetails')} ? active : ''">Guest Details</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'enterPayment')} ? active : ''">Payment</li>
                        <li class="list-group-item" th:classappend="${#strings.equals(step, 'confirmSummary')} ? active : ''">Booking Summary</li>
                    </ul>
                </div>
            </div>
        </div>
        <th:block th:replace="/fragments/layout/footer :: content"/>
    </div>
</div>
<th:block th:replace="/fragments/layout/page :: js"/>
<script>
    function decrementCategoryRooms(e) {
        let availableCategoryNo = e.currentTarget.dataset.availableCategoryNo;
        let categoryRoomsInput = document.querySelector(".input-category-rooms[data-available-category-no=\"" + availableCategoryNo + "\"]");

        if (parseInt(categoryRoomsInput.value) > 0) {
            categoryRoomsInput.value--;
        }
    }

    function incrementCategoryRooms(e) {
        let availableCategoryNo = e.currentTarget.dataset.availableCategoryNo;
        let categoryRoomsInput = document.querySelector(".input-category-rooms[data-available-category-no=\"" + availableCategoryNo + "\"]");
        let categoryMaxRoomsInput = document.querySelector(".input-category-max-rooms[data-available-category-no=\"" + availableCategoryNo + "\"]");

        if (parseInt(categoryRoomsInput.value) < parseInt(categoryMaxRoomsInput.value)) {
            categoryRoomsInput.value++;
        }
    }

    function updateOrganizationInputs(e) {
        let isCheckboxChecked = e.currentTarget.checked;
        let organizationNameText = document.querySelector("#organizationName");
        let agreementCodeText = document.querySelector("#agreementCode");

        if (isCheckboxChecked) {
            organizationNameText.disabled = false;
            agreementCodeText.disabled = false;
            organizationNameText.required = true;
            agreementCodeText.required = true;
        } else {
            organizationNameText.disabled = true;
            agreementCodeText.disabled = true;
            organizationNameText.required = false;
            agreementCodeText.required = false;
        }

        organizationNameText.value = "";
        agreementCodeText.value = "";
    }

    // Register Events
    document.addEventListener('DOMContentLoaded', function () {
        let categoryRoomsMinusButtons = document.querySelectorAll(".button-minus-category-rooms");
        let categoryRoomsPlusButtons = document.querySelectorAll(".button-plus-category-rooms");
        let organizationCheckbox = document.querySelector("#organization");

        categoryRoomsMinusButtons.forEach(function (btn) {
            btn.addEventListener('click', decrementCategoryRooms)
        });
        categoryRoomsPlusButtons.forEach(function (btn) {
            btn.addEventListener('click', incrementCategoryRooms)
        });
        if (organizationCheckbox) {
            organizationCheckbox.addEventListener('click', updateOrganizationInputs);
        }
    });
</script>
</body>

</html>