<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='Create a booking for your stay at the hotel.')"/>
    <title>Dashboard | Hotel Schwarz</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
    <style>

        div.scroll {
            width: 100%;
            height: 480px;
            overflow: auto;
            text-align: justify;
            border: #9e9fa7 2px solid;
        }

        th {
            top: -1px ;
            position: sticky;
            background: white;

        }
    </style>
</head>

<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">

            <div id="container">
                <div class="row">
                    <div class="col-xl-5" style="background: white; margin-right: 10px">
                        <div class="section-block">
                            <h3 class="section-title">Check-In</h3>
                            <p>of Walk-In Guests or Guests with a Booking.</p>

                            <a th:href="@{/checkin}" class="btn btn-lg btn-primary mr-3">Walk-In</a>
                            <a th:href="@{/bookings}" class="btn btn-lg btn-primary mr-3">Booking</a>
                        </div>
                    </div>
                    <div class="col-xl-5" style="background: white">
                        <div class="section-block">
                            <h3 class="section-title">Check-Out</h3>
                            <p>and Billing of Guests and their Stays.</p>

                            <a th:href="@{/stays}" class="btn btn-lg btn-primary mr-3">Stay</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 2%">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="section-block">
                                <h3 class="section-title">Upcoming Check-In's</h3>
                            </div>
                            <br>
                            <input class="form-control" list="mostSearched" id="myInput" type="text" autocomplete=”on”
                                   placeholder="Search..."><br>

                            <datalist id="mostSearched">
                                <option value="PENDING">
                                <option value="CONFIRMED">
                            </datalist>

                            <div class="card">
                                <div class="scroll">
                                    <table class="table" style="text-align: center" id="myTable2">
                                        <thead>
                                        <tr>
                                            <th onclick="sortTable(0)" style="cursor: pointer">Booking No</th>
                                            <th onclick="sortTable(1)" style="cursor: pointer">Guest</th>
                                            <th onclick="sortTable(2)" style="cursor: pointer">Arrival</th>
                                            <th onclick="sortTable(3)" style="cursor: pointer">Departure</th>
                                            <th onclick="sortTable(4)" style="cursor: pointer">Status</th>
                                            <th onclick="sortTable(5)" style="cursor: pointer">Number of Rooms</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        <tr th:if="${bookings.isEmpty()}">
                                            <td colspan="6"> no bookings available</td>
                                        </tr>

                                        <tr th:each="booking : ${bookings}"
                                            th:if="(${booking.arrivalDate().equals(localDate) && (booking.bookingState().equalsIgnoreCase('CONFIRMED') || booking.bookingState().equalsIgnoreCase('PENDING'))})">
                                                <td><a th:href="@{/booking(no=${booking.bookingNo()})}"><span
                                                        th:text="${booking.bookingNo()}"/></a>
                                                </td>
                                                <td><span
                                                        th:text="${booking.details.guest.firstName} + ' ' + ${booking.details.guest.lastName}"/>
                                                </td>
                                                <td><span th:text="${booking.arrivalDate}"/></td>
                                                <td><span th:text="${booking.departureDate}"/></td>
                                                <td><span th:text="${booking.bookingState}"
                                                          th:classappend="${booking.getBookingStateTextColorClass()}"/>
                                                </td>
                                                <td><span th:text="${booking.numberOfBookedRooms}"/></td>
                                                <td style="width: 200px;">

                                                    <a class="btn btn-space btn-light"
                                                       th:href="@{/booking(no=${booking.bookingNo()})}"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a class="btn btn-space btn-success"
                                                       th:href="@{/checkin(bookingNo=${booking.bookingNo()})}"><i
                                                            class="fas fa-check"></i> Check-In</a>
                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/fragments/layout/footer :: content"/>


<th:block th:replace="/fragments/layout/page :: js"/>
</body>

</html>

