<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='View all Bookings')"/>
    <title>Booking | Hotel Schwarz</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>

<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> <th:block th:text="${msg}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/fragments/layout/page :: js"/>

</body>

</html>