<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block
            th:replace="/fragments/layout/page :: meta(description='View invoice recipient for your invoice at the hotel.')"/>
    <title>Intermediary Invoice | Hotel Schwarz</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>
<body>
<div class="dashboard-main-wrapper">
    <th:block th:replace="/fragments/layout/navbar :: content"/>
    <th:block th:replace="/fragments/layout/sidebar-left :: content"/>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Create Invoice Recipient</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/stays}" class="breadcrumb-link">Stays</a>
                                    <li class="breadcrumb-item"><a th:href="@{/stay(id=*{stayId})}" class="breadcrumb-link">Stay ID.: <span th:text="*{stayId}"/></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Invoice Recipient</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <div class="card-body">

                                <form th:action="@{/stays/invoices/create(stayId=*{stayId}, preview=true)}"
                                      method="post">

                                    <th:block th:object="${selectedLineItemsForm}">
                                        <th:block th:each="selectedLineItemCount : *{selectedLineItemsCount}">
                                            <input type="hidden"
                                                   th:field="*{selectedLineItemsCount['__${selectedLineItemCount.key}__']}">
                                        </th:block>
                                    </th:block>

                                    <div class="form-group">
                                        <label th:for="firstName" class="col-form-label">First Name</label>
                                        <input type="text" th:name="firstName" class="form-control" th:id="firstName"
                                               th:value="${guest.firstName}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="lastName" class="col-form-label">Last Name</label>
                                        <input type="text" th:name="lastName" class="form-control" th:id="lastName"
                                               th:value="${guest.lastName}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="street" class="col-form-label">Street</label>
                                        <input type="text" th:name="street" class="form-control" th:id="street"
                                               th:value="${guest.addressStreet}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="zipcode" class="col-form-label">Zipcode</label>
                                        <input type="text" th:name="zipcode" class="form-control" th:id="zipcode"
                                               th:value="${guest.addressZipcode}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="city" class="col-form-label">City</label>
                                        <input type="text" th:name="city" class="form-control" th:id="city"
                                               th:value="${guest.addressCity}">
                                    </div>
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <select th:field="*{invoiceRecipientForm.country}" class="form-control"
                                                th:insert="/fragments/forms/optionsets :: country" id="country"
                                                th:value="${guest.addressCountry}"></select>
                                    </div>

                                    <div class="text-right">
                                        <a th:href="@{/stays/invoices(stayId=*{stayId})}"
                                           class="btn btn-space btn-secondary">Back</a>
                                        <button type="submit" class="btn btn-space btn-primary"> Confirm Invoice Recipient</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/fragments/layout/footer :: content"/>
</div>
<th:block th:replace="/fragments/layout/page :: js"/>
<th:block th:replace="/fragments/parts/invoice :: js"/>
</body>
</html>