<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/layout/page :: meta(description='View all Stays')"/>
    <title>Intermediary Bill | Hotel Management</title>
    <th:block th:replace="/fragments/layout/page :: css"/>
</head>

<body>

    <div class="dashboard-main-wrapper" th:object="${invoice}">
        <th:block th:replace="/fragments/layout/navbar :: content"/>
        <th:block th:replace="/fragments/layout/sidebar-left :: content"/>

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">View Intermediary Bill </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a th:href="@{/stays}" class="breadcrumb-link">Stays</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Intermediary Bill</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header p-4">
                                   
                                    <div class="float-right"> <h3 class="mb-0">Invoice #<span th:text="${invoice.invoiceId()}"></span></h3>
                                    Date: <span th:text="${invoice.contractDate()}"></span></div>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <h5 class="mb-3">From:</h5>                                            
                                            <h3 class="text-dark mb-1">Hotelmanagement</h3>
                                            <div>Hochschulstraße 1</div>
                                            <div>AT</div>
                                            <div>6850, Dornbirn</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h5 class="mb-3">To:</h5>
                                            <h3 class="text-dark mb-1"><span th:text="${invoice.guest().firstName()} + ' ' + ${invoice.guest().lastName()}"></span></h3>
                                            <div><span th:text="${invoice.guest().addressStreet()}"></span></div>
                                            <div><span th:text="${invoice.guest().addressCountry()}"></span></div>
                                            <div><span th:text="${invoice.guest().addressZipcode()} + ', ' + ${invoice.guest().addressCity()}"></span></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="center">#</th>
                                                    <th>Item</th>
                                                    <th>Description</th>
                                                    <th class="right">Unit Cost</th>
                                                    <th class="center">Qty</th>
                                                    <th class="right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="category, state: *{selectedCategoriesRoomCount}" th:if="${category.getValue() > 0}">
                                                    <td class="center" th:text="${state.index + 1}"></td>
                                                    <td class="left strong" th:text="${category.getKey().name()}"></td>
                                                    <td class="left" th:text="${category.getKey().description()}"></td>
                                                    <div th:with="qty=${category.getValue()}, unit=${category.getKey().singleOccupancy()}">
                                                        <td class="right" th:text="${unit} + '€'"></td>
                                                        <td class="center" th:text="${qty}"></td>
                                                        <td class="right" th:text="${qty} * ${unit} + '€'"></td>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                        </div>
                                        <div class="col-lg-4 col-sm-5 ml-auto">
                                            <table class="table table-clear">
                                                <tbody>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Subtotal</strong>
                                                        </td>
                                                        <td class="right">$28,809,00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">VAT (10%)</strong>
                                                        </td>
                                                        <td class="right">$2,304,00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Total</strong>
                                                        </td>
                                                        <td class="right">
                                                            <strong class="text-dark">$20,744,00</strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white">
                                    <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="text-right">
                                    <a th:href="@{/stays}" class="btn btn-space btn-secondary">Cancel</a>
                                    <button type="submit" class="btn btn-space btn-primary">Confirm</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <!-- jquery 3.3.1 -->
        <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <!-- bootstap bundle js -->
        <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <!-- slimscroll js -->
        <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
        <!-- main js -->
        <script src="../assets/libs/js/main-js.js"></script>
</body>
 
</html>