<div class="nav-left-sidebar sidebar-dark" th:fragment="content">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#request.requestURI.equals('/')} ? active : ''" th:href="@{/}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                        </a>
                    </li>
                    <li class="nav-divider">
                        Front-Office
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#request.requestURI.startsWith('/booking')} ? active : ''" th:href="@{/bookings}">
                            <i class="fas fa-fw fa-bold"></i>Bookings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="(${#request.requestURI.startsWith('/stay')} or ${#request.requestURI.startsWith('/checkin')} or ${#request.requestURI.startsWith('/checkout')} ? active : '')" th:href="@{/stays}">
                            <i class="fas fa-fw fa-hotel"></i>Stays
                        </a>
                    </li>

                    <!--
                    <li class="nav-divider">
                        Back-Office
                    </li>
                    -->
                </ul>
            </div>
        </nav>
    </div>
</div>